################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

app.ini
app - Copy.ini
Variables.txt
etc
